<div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">
        <%= article.category.name %>
      </strong>

      <h3 class="mb-0"><%= article.title %></h3>

      <div class="mb-1 text-body-secondary">
        <%= render 'article_details', article: article %>
      </div>

      <p class="card-text mb-auto">
        <%= truncate(article.body, length: 80) %>
        </p>
      <%= link_to 'Continue lendo...', article, class: "icon-link gap-1 icon-link-hover stretched-link"%>
    </div>
  </div>
</div>